body{
    background: #efefef;
}

.navigation {
    position: fixed;
    max-width: 1440px;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    background: var(--color);
    z-index: 999;
}

header {
    display: flex;
    align-items: center;
    height: 60px;
    padding: 20px 0px;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.icon-menu, .menu{
    margin: 0px 10px;
}
.icon-menu{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.icon-menu a, .menu a{
    color: #fff;
    font-size: 26px;
    cursor: pointer;
}
.icon-menu a{
    padding: 10px 17px;
}
.menu a{
    padding: 12px 20px;
}

.active{
    border-bottom: 3px solid #fff;
    animation: menu 400ms linear;
}

@keyframes menu {
    from {
        transform: translateY(5px);
    }
    to {
        transform: translateY(0px);
    }
}
.icon-menu {
    display: none;
}

main {
    max-width: 1440px;
    margin: 60px auto 0px;
}

.logo {
    padding: 0px 20px;
    height: calc(100vh - 60px);
    justify-content: center;
    align-items: center;
    display: flex;
}

.logo h1 {
    font-family: prismfont_CLv3;
    margin: 0;
    font-size: 5em;
}
.logo h1 a{
    color: var(--color);
}
.portfolio div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.portfolio div img{
    width: 300px;
    height: fit-content;
    opacity: 0.8;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.3);
    transition: all .1s linear;
}
.portfolio div img:hover{
    opacity: 1;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.5);
    transform: scale(1.02);
}
.colors{
    margin: 10px;
}
.colors h2{
    color: var(--color);
}
.colors h2,h4{
    padding: 0px 5px;

}
.colors > div{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.colors > div > div{
    width: 200px;
    height: 200px;
    color: #fff;
    font-size: 18px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.3);
    transition: all .1s linear;
}

.colors > div > div:hover{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.5);
}

.topic{
    font-size: 18px;
    padding: 10px 15px;
}
.topic h1{
    font-size: 24px;
    color: var(--color);
}

.topic p:before {
    content: "\f054";
    font: normal normal 18px/1 FontAwesome;
    padding-right: 5px;
    color: var(--color);
}
.links > div{
    padding: 10px 15px;
    max-width: 800px;
    margin: 0 auto;
}
.links > div > p{
    color: var(--color);
}
.links > div > a{
    display: block;
    margin: 5px 0px;
    padding: 10px;
    color: var(--color);
    background: transparent;
    border-radius: 4px;
    border:1px solid var(--color);
}
.links > div > a:before {
    content: "\f08e";
    font: normal normal 14px/1 FontAwesome;
    padding-right: 3px;
}
.tabcontent {
    animation: fadeEffect 1.5s;
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
@media all and (max-width: 786px) {
    .icon-menu {
        display: flex;
    }
    .menu {
        display: none;
    }
    .logo h1{
        font-size: 3em;
    }
    .portfolio div img{
        width: calc(100% - 20px);
    }
    .colors > div{
        display: block;
    }
    .colors > div > div{
        width: 100%;
        margin: 10px 0px;
    }
}