@font-face {
    font-family: typo;
    src: url(../fonts/typo.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: typo, sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #222;
    font-weight: 400;
    line-height: 1.5;
    overflow-x: hidden;
}

:root {
    --color: #66e08f;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
}

h1 {
    font-size: 36px;
}

h2 {
    font-weight: 600;
    font-size: 24px;
}

h3 {
    font-size: 22px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 14px;
}

h6 {
    font-size: 12px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
}
.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--color);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.navigation {
    position: fixed;
    background-color: #fff;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

header {
    display: flex;
    justify-content: space-between;
    height: 60px;
    padding: 20px 0px;
    max-width: 1440px;
    margin: 0 auto;
}

.logo {
    padding: 0px 20px;
    align-self: center;
}

.logo img {
    width: 40px;
    height: auto;
}

.title {
    text-align: center;
    height: calc(100% - 60px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title a {
    font-size: 25px;
    color:#fff;
    margin: 5px;
    padding: 3px 20px;
    line-height: 40px;
    border-radius: 25px;
    background: var(--color);
    box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
}

.title p {
    font-size: 7vw;
    color: #222;
}

.title p:nth-of-type(2) {
    font-size: 5vw;
}

.nav-icon {
    display: none;
}

.bars {
    margin-right: 20px;
    display: inline-block;
    cursor: pointer;
}

.bar1,.bar2 {
    width: 20px;
    height: 2px;
    background-color: #222;
    margin: 4px 0;
    transition: 0.4s;
}

.change .bar1 {
    transform: rotate(-45deg) translate(-3px, 3px);
}

.change .bar2 {
    transform: rotate(45deg) translate(-1px, -2px);
}


nav div {
    display: flex;
}

nav {
    align-self: center;
}

nav div a {
    color: #222;
    text-decoration: none;
    display: block;
    padding: 10px 25px;
    text-transform: uppercase;
    font-size: 14px;
    position: relative;
    transition: color .25s;
    outline: none;
    font-weight: 600;
}

nav div a:hover {
    color: var(--color);
}

nav div a:focus:before,nav div a:active:before {
    width: 100%;
}

.nav-iconlist {
    transform:translateY(100%);
    background-color: #fff;
    width: 100%;
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: 60px;
    transition: all 200ms ease;
}

.nav-iconlist a {
    display: block;
    padding: 15px 0px;
    text-align: center;
    font-weight: 600;
    color: #222;
    font-size: 30px;
}

.nav-iconlist a:hover,
.nav-iconlist a:active {
    color: var(--color);
}

.home {
    height: 100vh;
    background-image: url(../img/bg.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.about-head {
    display: flex;
    margin-bottom: 20px;
}

.about-head div p {
    border-left: none;
}


main{
    background-color: var(--color);
}

.detail {
    color: #fff;
    padding: 0px 10px;
    max-width: 200px;
    margin: 0px auto 50px;
}

.detail h4{
    font-size: 1.5em;
    font-weight: 500;
}

.detail i{
    padding-right: 15px;
}

.about h2{
    text-align: center;
    position: relative;
    color: #fff;
    padding: 0px 10px;
    max-width: 600px;
    margin: 0px auto 10px;
}

.about p {
    text-align: center;
    color: #fff;
    font-size: 1.5em;
    padding: 0px 10px;
    max-width: 600px;
    margin: 0px auto 50px;
}

.about img{
    padding: 10px 0px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.about {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: var(--color);
    max-width: 1440px;
    margin: 0 auto;
}

.about > div{
    width: 100%;
}
.about > div:nth-of-type(1){
    max-width: 300px;
    margin: auto;
}

.skill,.portfolio{
    background: #fff;
    color: #222;
}
.skills {
    display: flex;
    justify-content: center;
    max-width: 1440px;
    margin: 0 auto;
}

.allskill {
    margin: auto;
    max-width: 600px;
    padding: 30px 15px;
}

.allskill h2 {
    color: var(--color);
    text-align: center;
    margin-bottom: 10px;
}


.allskill h4 {
    display: inline-block;
    margin: 5px;
    padding: 5PX 10px;
    background-color: #e7ffeb;
    color: var(--color);
    border: 1px solid var(--color);
    border-radius: 5px;
}
.facebook .fa:hover {
    color: #3b5998;
}

.bitbucket .fa:hover {
    color: #205081;
}

.linkedin .fa:hover {
    color: #0077b5;
}
.github .fa:hover {
    color: #333;
}
.behance .fa:hover {
    color: #1769ff;
}

.social-btns {
    margin: 10px auto;
    font-size: 0;
    text-align: center;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.btn {
    margin: 0 10px;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.btn .fa {
    font-size: 20px;
    color: #aaa;
    vertical-align: middle;
    transition: all 0.35s;
    transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
}

footer{
    padding: 50px 0px;
    text-align: center;
    font-size: 21px;
    color: #222;
}

.fa-heart {
    color: #e74c3c;
}

@media all and (max-width: 786px) {
    .nav-icon {
        display: block;
    }
    .header nav {
        display: none;
    }
    .home {
        height: 50vh;
        margin-top: 60px;
    }
    .about-wrapper {
        display: block;
    }
    .skills {
        display: block;
    }
    .wrapskill {
        width: auto;
    }
    .top-footer {
        display: block;
    }
    .logo h1 {
        font-size: 20px;
    }
    .about {
        display: block;
    }

    .about > div{
        width: 100%;
    }
    .about h2::before{
        left: 30px;
    }
    .about img {
    padding: 10%;
    }
    .title p {
        font-size: 13vw;
    }
    .title p:nth-of-type(2) {
        font-size: 8vw;
    }
}
