*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 1.428571429;
	color: #333333;
}
h1,h2,h3,h4,h5,h6{
	font-weight: 500;
}
h1{
  font-size: 36px;
}
h2{
  font-size: 30px;
}
h3{
  font-size: 24px;
}
h4{
  font-size: 18px;
}
h5{
  font-size: 14px;
}
h6{
  font-size: 12px;
}
a {
  text-decoration: none;
}
ul{
	list-style: none;
}
.container{
	max-width: 1440px;
	margin: 0 auto;
}
header{
	position: fixed;
	max-width: 1440px;
	margin: 0 auto;
	top:0;
    left: 0;
    right: 0;
	display: flex;
	justify-content: space-between;
	height: 88px;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
	background: #fff;
	z-index: 999;
}
.logo{
	padding: 0px 20px;
	margin: 27px 0px;
	align-self: center;
}
.title{
	max-width: 600px;
	text-align: center;
	margin: 0px auto;
	padding: 200px 0px;
}
.title p{
	margin: 0 auto;
}
.nav-icon{
	display: none;
}
.avatar{
	border-radius: 100%;
    display: inline-block;
    margin: 0 0 2em 0;
    padding: 0.5em;
    border: solid 1px rgba(255, 255, 255, 0.25);
    background-color: rgba(255, 255, 255, 0.25);
}
.avatar img{
	border-radius: 100%;
    display: block;
    width: 15em;
}
i.fa.fa-bars {
	color: #42a5f5;
    font-size: 24px;
    margin: 32px 0px;
    padding: 0 20px;
}
nav ul{
	display: flex;
	padding: 30px;
}
nav ul li a{
	transition: all 0.4s;
	background: #fff;
	font-size: 20px;
	text-decoration: none;
	border-top: 4px solid #fff;
	border-bottom: 4px solid #fff;
	padding: 15px 0;
	margin: 0 20px;
}
nav ul > li > a:hover{
	border-top: 4px solid #f44c1e;
	border-bottom: 4px solid #f44c1e;
	padding: 8px 0;
	color: #f44c1e;
}
nav ul > .active > a{
	color: blue;
}
nav ul li a{
	color: #42a5f5; 
}
@keyframes ani{
  from{height: 0px;}
  to{height: 203px;}	
}
.nav-iconlist {
	display: none;
    height: 203px;
    width: 100%;
    position: absolute;
    z-index: 99;
    overflow: hidden;
    top:0;
    left: 0;
    right: 0;
    background-color: #fff;
    margin-top:89px;
    animation: ani 1s linear;
}
.nav-iconlist li{
	background-color: #333;
	padding: 15px 0px;
	text-align: center;
	border-bottom: 1px solid #fff;
}
.nav-iconlist li:hover{
	background-color: #444;
}
.nav-iconlist li a{
	font-weight: 600;
	color: #42a5f5;
}
.nav-iconlist li a:hover{
	color: #f44c1e;
}
.home{
	height: 100vh;
	background:linear-gradient(90deg,#1cd8d2, #93edc7);;
}
.about h2{
	font-weight: 600;
	color: #85c05b;
	font-size: 25px;
	padding:5px 10px;
	max-width: 600px;
	margin: 0px auto;
}
.about p{
	border-left: 3px solid #85c05b;
	font-size: 20px;
	padding:0px 10px;
	max-width: 600px;
	margin: 5px auto;
}
.about p span{
	color: #444;
    display: block;
}

.about ul{
	border-left: 3px solid #85c05b;
	font-size: 20px;
	padding:0px 10px;
	max-width: 600px;
	margin: 0px auto;
}
.about{
	padding: 0px 20px;
}
.about-wrapper{
	display: flex;
	justify-content: space-between;
}
.about-l1{
	width: 600px;
}
.about-l2{
	border-radius: 4px;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
	margin: 10px;
	width: 400px;
}
.about-l2 h4{
	font-size: 26px;
}
.about-l2 i{
	color: #85c05b;
	padding:0px 15px;
}
.about-l2 img{
	border-radius: 4px 4px 0px 0px;
	width: 100%;
}
.skills{
	display: flex;
	justify-content: space-between;
}
.allskill{
	border-radius: 4px;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
	margin: 10px;
	padding: 0px 15px;
	width: 400px;
}
.allskill h3{
	color: #85c05b;
}
.wrapskill{
	width: 800px;
	padding: 10px;
}
.skill-wrap{
	width: calc(100% - 40px);
	border-radius: 25px;
	margin: 10px 20px;
	background-color: #ddd;
}
.sk1{
	width: 90%;
}
.sk2{
	width: 90%;
}
.sk3{
	width: 50%;
}
.skill-bar{
	background-color:#85c05b; 
	border-radius: 25px;
	text-align: right;
	padding-right: 20px;
	line-height: 40px;
	color: #FFF;
}
.contact-detail{
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
	padding: 10px;
	width: 375px;
	margin: 0 auto;
}
.contact-detail h4{
	font-size: 22px;
}
.contact-detail i{
	color: #85c05b;
	padding:0px 15px;
}
    .btn,
    .btn:before,
    .btn .fa {
        transition: all 0.35s;
        transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
    }

    .btn:before {
        top: 90%;
        left: -110%;
    }

    .btn .fa {
        transform: scale(0.8);
    }

    .facebook:before {
        background-color: #3b5998;
    }

    .facebook .fa {
        color: #3b5998;
    }
    .google:before {
        background-color: #dc4a38;
    }

    .google .fa {
        color: #dc4a38;
    }
    .linkedin:before {
        background-color: #0077b5;
    }

    .linkedin .fa {
        color: #0077b5;
    }

    .btn:focus:before,
    .btn:hover:before {
        top: -10%;
        left: -10%;
    }

    .btn:focus .fa,
    .btn:hover .fa {
        color: #fff;
        transform: scale(1);
    }

    .social-btns {
        height: 90px;
        margin: 20px auto;
        font-size: 0;
        text-align: center;
        position: relative;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .btn {
        display: inline-block;
        background-color: #fff;
        width: 90px;
        height: 90px;
        line-height: 90px;
        margin: 0 10px;
        text-align: center;
        position: relative;
        overflow: hidden;
        border-radius: 28%;
        box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.1);
        opacity: 0.99;
    }

    .btn:before {
        content: '';
        width: 120%;
        height: 120%;
        position: absolute;
        transform: rotate(45deg);
    }

    .btn .fa {
        font-size: 38px;
        vertical-align: middle;
    }
main{
	max-width: 1440px;
	margin: 0 auto;
}
@media all and (max-width: 786px){
.nav-icon{
	display: block;
}
nav{
	display: none;
}
.about-l1{
	width: 100%;
}
.about-l2{
	width: 100%;
}
.about-wrapper{
	display: block;
}
.skills{
	display: block;
}
.allskill{
	margin: 10px 20px;
	width: auto;
}
.wrapskill{
	width: auto;
}
}

/*type writing*/
.line-1{
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;    
}

.anim-typewriter{
  animation: typewriter 4s steps(25) 1s 1 normal both,
             blinkTextCursor 500ms steps(25) infinite normal;
}

@keyframes typewriter{
  from{width: 0;}
  to{width: 10em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 10em;}	
}
/*type writing*/