@font-face {
    font-family: prismfont_CLv3;
    src: url(../fonts/prismfont_CLv3.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #333333;
}

:root {
    --color: #32AE7F;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 14px;
}

h6 {
    font-size: 12px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.navigation {
    position: fixed;
    max-width: 1440px;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 999;
}

header {
    display: flex;
    justify-content: space-between;
    height: 60px;
    padding: 20px 0px;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.logo {
    padding: 0px 20px;
    align-self: center;
}

.logo h1 {
    font-family: prismfont_CLv3;
    margin: 0;
    font-size: 40px;
    color: var(--color);
}

.title {
    max-width: 600px;
    text-align: center;
    margin: 0px auto;
    padding: 150px 0px;
}

.title p {
    margin: 0 auto;
}

.nav-icon {
    display: none;
}

.avatar {
    border-radius: 100%;
    display: inline-block;
    margin: 0 0 2em 0;
    padding: 0.5em;
    border: solid 1px rgba(255, 255, 255, 0.25);
    background-color: rgba(255, 255, 255, 0.25);
}

.avatar img {
    border-radius: 100%;
    display: block;
    width: 15em;
}

.bars {
    margin-right: 20px;
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 25px;
    height: 3px;
    background-color: var(--color);
    margin: 4px 0;
    transition: 0.4s;
}

.change .bar1 {
    transform: rotate(-45deg) translate(-3px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    transform: rotate(45deg) translate(-4px, -7px);
}


nav ul {
    display: flex;
}

nav {
    align-self: center;
}

nav ul li a {
    color: #424242;
    text-decoration: none;
    display: block;
    padding: 20px 25px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    position: relative;
    transition: color .25s;
}

nav ul li a:hover {
    color: var(--color);
}

nav ul li a:hover:before {
    width: 100%;
}

nav ul li a:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 0;
    background: var(--color);
    transition: width .25s;
}

@keyframes ani {
    from {
        height: 0px;
    }
    to {
        height: 205px;
    }
}

.nav-iconlist {
    border-top: 5px solid var(--color);
    display: none;
    width: 100%;
    position: absolute;
    z-index: 999;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    margin-top: 60px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    animation: ani 500ms linear;
}

.nav-iconlist li {
    background-color: #fff;
    padding: 15px 0px;
    text-align: center;
}

.nav-iconlist li:hover,
.nav-iconlist li:active {
    background-color: #eee;
}

.nav-iconlist li a {
    font-weight: 600;
    color: var(--color);
}

.home {
    max-height: 100vh;
    background-image: url(../img/dd.jpg);
    background-size: cover;
    background-color: var(--color);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.more {
    padding: 10px 20px;
    margin: 10px auto;
    background: var(--color);
    border: none;
    cursor: pointer;
    font-size: 24px;
    border-radius: 5px;
    outline: none;
    transition: 1s;
}

.more a{
    color: #fff;
}

.more:hover a{
    color: var(--color);
}
.more:hover {
    background: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

.about-head {
    display: flex;
}

.about-head div p {
    border-left: none;
}

.head-color {
    width: 5px;
    border-radius: 10px;
    background-image: linear-gradient(#c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

.head-cont {
    margin-left: 5px;
}

.about h2:nth-of-type(1) {
    font-size: 24px;
    color: var(--color);
}

.about h2 {
    font-weight: 600;
    color: #424242;
    font-size: 20px;
    padding: 5px 10px;
    max-width: 800px;
    margin: 0px auto;
}

.about p {
    color: #424242;
    border-left: 3px solid var(--color);
    font-size: 20px;
    padding: 0px 10px;
    max-width: 800px;
    margin: 5px auto;
}

.about p span {
    color: #444;
    display: block;
}

.about ul {
    color: #424242;
    border-left: 3px solid var(--color);
    font-size: 20px;
    padding: 0px 10px;
    max-width: 800px;
    margin: 0px auto;
}

.about {
    padding: 0px 20px;
}

.about-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin: 10px 0px;
}

.about-l1 {
    width: 800px;
}

.about-l2 {
    border-radius: 4px;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
    width: 400px;
}

.about-l2 h4 {
    font-size: 22px;
}

.about-l2 i {
    color: var(--color);
    padding: 0px 15px;
}

.about-l2 img {
    border-radius: 4px 4px 0px 0px;
    width: 100%;
}

.skills {
    display: flex;
    justify-content: space-around;
}

.allskill {
    position: relative;
    border-radius: 4px;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
    margin: 10px;
    padding: 0px 15px;
    width: 400px;
}

.allskill h2 {
    font-size: 25px;
    font-weight: 600;
    color: var(--color);
    margin-left: 15px;
    border-left: 2px solid var(--color);
    padding-left: 25px;
}

.allskill h2:before {
    content: '';
    position: absolute;
    width: 17px;
    height: 17px;
    border: 2px solid var(--color);
    background-color: #fff;
    border-radius: 100%;
    transform: translateY(42%);
    left: 21px;
    z-index: 2;
}

.allskill h4 {
    margin-left: 15px;
    border-left: 2px solid var(--color);
    padding-left: 25px;
}

.allskill h4:before {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    border: 2px solid var(--color);
    background-color: #fff;
    border-radius: 100%;
    transform: translateY(75%);
    left: 25px;
    z-index: 2;
}

.wrapskill {
    width: 800px;
    padding: 10px;
}

.skill-wrap {
    width: calc(100% - 40px);
    border-radius: 25px;
    margin: 10px 20px;
    background-color: #ddd;
}

.sk1 {
    width: 90%;
}

.sk2 {
    width: 90%;
}

.sk3 {
    width: 50%;
}

.sk4 {
    width: 60%;
}

.sk5 {
    width: 60%;
}

.sk6 {
    width: 90%;
}

.sk7 {
    width: 80%;
}

.skill-bar {
    background-color: var(--color);
    border-radius: 25px;
    text-align: center;
    padding-right: 20px;
    line-height: 25px;
    color: #FFF;
}

.contact-detail {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    padding: 10px;
    width: 350px;
}

.contact-detail h2 {
    color: var(--color);
}

.contact-detail h4 {
    font-size: 20px;
}

.contact-detail i {
    color: var(--color);
    padding: 0px 15px;
}

.btn,
.btn:before,
.btn .fa {
    transition: all 0.35s;
    transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
}

.btn:before {
    top: 90%;
    left: -110%;
}

.btn .fa {
    transform: scale(0.8);
}

.facebook:before {
    background-color: #3b5998;
}

.facebook .fa {
    color: #3b5998;
}

.google:before {
    background-color: #dc4a38;
}

.google .fa {
    color: #dc4a38;
}

.linkedin:before {
    background-color: #0077b5;
}

.linkedin .fa {
    color: #0077b5;
}

.btn:focus:before,
.btn:hover:before {
    top: -10%;
    left: -10%;
}

.btn:focus .fa,
.btn:hover .fa {
    color: #fff;
    transform: scale(1);
}

.social-btns {
    margin: 20px auto;
    font-size: 0;
    text-align: center;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.btn {
    display: inline-block;
    background-color: #fff;
    width: 90px;
    height: 90px;
    line-height: 90px;
    margin: 0 10px;
    text-align: center;
    position: relative;
    overflow: hidden;
    border-radius: 28%;
    box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.1);
    opacity: 0.99;
}

.btn:before {
    content: '';
    width: 120%;
    height: 120%;
    position: absolute;
    transform: rotate(45deg);
}

.btn .fa {
    font-size: 38px;
    vertical-align: middle;
}

.top-footer {
    display: flex;
    justify-content: space-around;
}

.social-btns {
    order: 1;
}

.contact-detail {
    order: 2;
}

.made {
    padding: 25px 0px;
    text-align: center;
    font-size: 21px;
}

.fa-heart {
    color: #e74c3c;
}

main {
    max-width: 1440px;
    margin: 0 auto;
}

@media all and (max-width: 786px) {
    .nav-icon {
        display: block;
    }
    .header nav {
        display: none;
    }
    .about-l1 {
        width: 100%;
    }
    .about-l2 {
        width: 100%;
    }
    .about-wrapper {
        display: block;
    }
    .skills {
        display: block;
    }
    .allskill {
        margin: 10px 20px;
        width: auto;
    }
    .wrapskill {
        width: auto;
    }
    .top-footer {
        display: block;
    }
    .social-btns {
        order: 2;
    }
    .contact-detail {
        order: 1;
    }
    .logo h1 {
        font-size: 30px;
    }
    .contact-detail {
        width: auto;
        margin: 0px 5px;
    }
}


/*type writing*/

.line-1 {
    margin: 0 auto;
    border-right: 2px solid rgba(255, 255, 255, .75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    color: #fff;
}

.anim-typewriter {
    animation: typewriter 4s steps(25) 1s 1 normal both, blinkTextCursor 500ms steps(25) infinite normal;
}

@keyframes typewriter {
    from {
        width: 0;
    }
    to {
        width: 10em;
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: #fff;
    }
    to {
        border-right-color: transparent;
    }
}

@keyframes typewriter {
    from {
        width: 0;
    }
    to {
        width: 10em;
    }
}


/*type writing*/

.form {
    max-width: 850px;
    padding: 10px;
}

.form h2 {
    color: var(--color);
}

.input {
    width: 100%;
    outline: none;
    padding: 1em;
    margin-bottom: 10px;
    border: none;
    border-bottom: 2px solid #ccc;
    transition: 1s linear;
}

.input:focus {
    border-bottom: 2px solid var(--color);
}

.form-btn {
    background: var(--color);
    color: #FFF;
    border-radius: 4px;
    padding: 10px;
    outline: none;
    border: none;
    margin: 0px 10px;
    width: 100px;
    position: relative;
    overflow: hidden;
}

.form-btn:after {
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    background: rgba(255, 255, 255, .5);
    opacity: 0;
    border-radius: 50%;
    transform: scale(1, 1) translate(-50%);
    transform-origin: 50% 50%;
}

@keyframes ripple {
    0% {
        transform: scale(0, 0);
        opacity: 1;
    }
    20% {
        transform: scale(25, 25);
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: scale(40, 40);
    }
}

.form-btn:focus:not(:active)::after {
    animation: ripple 1s ease-out;
}